<form [formGroup]="form" class="space-y-4">
  <div class="grid grid-cols-2 gap-4">
    <div>
      <input class="input input-bordered w-full" formControlName="firstName" placeholder="First name" />
      <error [control]="form.get('firstName')" controlName="First Name"></error>
    </div>
    <div>
      <input class="input input-bordered w-full" formControlName="lastName" placeholder="Last name" />
      <error [control]="form.get('lastName')" controlName="Last Name"></error>
    </div>
    <div>
      <input class="input input-bordered w-full" formControlName="income" placeholder="Income" />
      <error [control]="form.get('income')" controlName="Income"></error>
    </div>
    <div>
      <input type="date" class="input input-bordered w-full" formControlName="date" placeholder="Date" />
      <error [control]="form.get('date')" controlName="Date"></error>
    </div>
    <!-- <div>
      <input type="file" class="file-input w-full" (change)="onFileChange($event)" placeholder="File" />
      <error [control]="form.get('file')" controlName="File"></error>
    </div> -->
    <div class="space-x-2">
      <div>
        <input type="radio" id="html" formControlName="lang" value="HTML" />
        <label class="mr-2" for="html">HTML</label>
        <input type="radio" id="css" formControlName="lang" value="CSS" />
        <label class="mr-2" for="css">CSS</label>
        <input type="radio" id="javascript" formControlName="lang" value="JavaScript" />
        <label class="mr-2" for="javascript">JavaScript</label>
      </div>
      <error [control]="form.get('lang')" controlName="Language"></error>
    </div>
    <div formGroupName="vehicles">
      <div>
        <input type="checkbox" id="vehicle1" formControlName="bike" value="Bike" />
        <label for="vehicle1"> I have a bike</label><br>
        <input type="checkbox" id="vehicle2" formControlName="car" value="Car" />
        <label for="vehicle2"> I have a car</label><br>
        <input type="checkbox" id="vehicle3" formControlName="boat" value="Boat" />
        <label for="vehicle3"> I have a boat</label><br>
      </div>
      <error [control]="form.get('vehicles')" controlName="Vehicles"></error>
    </div>
  </div>
  <div class="space-x-2">
    <button class="btn btn-primary" (click)="handleSubmit()">Submit</button>
    <button class="btn btn-ghost" (click)="resetForm()">Clear</button>
  </div>
</form>