<!-- <nav class="navbar">
  <a [class.active]="activeTab === 'posts'" (click)="showPosts()">Posts</a>
  <a [class.active]="activeTab === 'users'" (click)="showUsers()">Users</a>
</nav> -->
<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a>Posts</a></li>
        <li><a>Users</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>Posts</a></li>
      <li><a>Users</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn">Button</a>
  </div>
</div>

<div class="container">
  <!-- Posts View -->
  <div *ngIf="activeTab === 'posts'">
    <div *ngIf="!selectedPost">
      <div class="overflow-x-auto">
        <h1 class="text-4xl font-bold mb-4">Posts</h1>
        <table class="table table-zebra w-full min-w-[400px]">
          <thead>
            <tr>
              <th class="w-20">ID</th>
              <th class="w-60">Title</th>
              <th class="flex-1">Body</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of displayedPosts" (click)="showPost(post.id)" class="cursor-pointer">
              <td class="w-20">{{ post.id }}</td>
              <td class="">{{ post.title }}</td>
              <td class="flex-1 truncate">{{ post.body }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-secondary mt-4 flex justify-center mx-auto" *ngIf="displayedPosts.length < posts.length"
        (click)="loadMorePosts()">
        Load More
      </button>
    </div>

    <div *ngIf="selectedPost" class="single-post">
      <button (click)="back()" class="back-btn">← Back to Posts</button>
      <h1>{{ selectedPost.title }}</h1>
      <p>{{ selectedPost.body }}</p>
    </div>
  </div>

  <!-- Users View -->
  <div *ngIf="activeTab === 'users'" class="user-grid">
    <div *ngFor="let user of users" class="user-card">
      <h2>{{ user.name }}</h2>
      <p>{{ user.email }}</p>
      <p>{{ user.company.name }}</p>
    </div>
  </div>
</div>