<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4 max-w-2xl mx-auto mt-10">
  <div *ngFor="let field of formConfig.fields" class="form-control">
    <label class="label">
      <span class="label-text">{{ field.label }}</span>
    </label>
    <input [formControlName]="field.label.toLowerCase()"
           [type]="field.type"
           class="input input-bordered w-full"
           [attr.placeholder]="''"
           [required]="field.required">
    <div *ngIf="hasRequiredError(getControl(field.label.toLowerCase()))"
         class="text-error text-sm">
      {{ field.label }} is required
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>